body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.fetch-button {
  background-color: black;
  color: white;
  padding: 10px 50px;
  font-weight: 100;
  margin: 5px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
}
input {
  padding: 10px;
  margin: 5px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 95%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

.post-office-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
  width: calc(100% - 20px);
  overflow-y: auto;
}

.post-office-details {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .post-office-details {
    flex-basis: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .post-office-details {
    flex-basis: 80%;
  }
}
